<suite name="DemoQAAutomation">

	<listeners>
		<listener class-name = "setup.ListenerClass" />
	</listeners>

	<test name="InitialSetup">
		<classes>
			<class name="setup.SeleniumInit" />	
		</classes>
	</test>
	
	<test name="Tests">
		<classes>
			<class name ="runnerClasses.TextBoxRunner" />
		</classes>
	</test>
	
</suite>